@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  margin: 0 0 25px 42px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  text-align: center;
  padding-top: 12px;
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669F2;
}

.activity-div {
    display: flex;
    position: relative;
    height: 20px;
    padding-bottom: 7px;
    z-index: 0;
}

.name-div {
    width: 20%;
    height: 25px;
    padding-right: 2px;
    overflow-y: hidden;
}

.desc-div {
    width: 20%;
    height: 25px;
    padding-right: 2px;
    overflow-y: hidden;
}

.date-div {
    width: 10%;
    height: 25px;
    overflow-y: hidden;
}

.beg-div {
    width: 73px;
    height: 25px;
    padding-right: 2px;
    overflow-y: hidden;
}

.end-div {
    width: 73px;
    height: 25px;
    padding-right: 2px;
    overflow-y: hidden;
}

.total-div {
    width: 8%;
    height: 25px;
    overflow-y: hidden;
}

.textarea {
  border: 1px solid #ccc;
  padding: 1px 6px;
  display: block;
  width: 100%;
  resize: none;
  min-height: 25px;
  line-height: 25px;
  box-sizing: border-box;
}

.name-span {
    background-color: #cbc3e3;
}

.desc-span {
    background-color: #add8e3;
}

.date-span {
    background-color: #90ee90;
}

.beg-span {
    background-color: #ffffbc;
}

.end-span {
    background-color: #fed8b1;
}

.total-span {
    background-color: #ffcccb;
}
